*  {
    box-sizing: border-box;
}

html{
   
    font: system-ui, sans-serif;

}

body{
    padding: 10px;
    max-width: 40rem;
    margin: 0 auto;
}
header {
    padding: 5px 0;
    text-align: center;
    background-color: black;
    color: white;
    max-width: 40rem;
   
}
nav{
 display: flex;
 justify-content: center;
 gap: 20px;
}
nav > a{
    color: white;
}

